<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ちゃっと</title>
    <style>
        input {
            display: block
        }

        ul {
            list-style: none
        }
    </style>
</head>
<body>
<ul id="message"></ul>
WebSocketを使ったちゃっとあぷり
<form id="chatbox">
    {{ .UserData.name }}:<br>
    <textarea cols="30" rows="10"></textarea>
    <input type="submit" value="送信">
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(function () {
        let socket = null;
        let msgBox = $("#chatbox textarea");
        let message = $("#message")
        $("#chatbox").submit(function () {
            if (!msgBox.val()) return false;
            if (!socket) {
                alert("エラー：Websocket接続なし")
                return false
            }
            socket.send(JSON.stringify({"Message": msgBox.val()}));
            msgBox.val("");
            return false
        })
        if (!window["WebSocket"]) {
            alert("エラー：Websocketに対応してないブラウザです")
        } else {
            socket = new WebSocket("ws://{{.Host}}/room")
            socket.onclose = function () {
                alert("接続終了")
            }
            socket.onmessage = function (e) {
                let msg = JSON.parse(e.data)
                message.append(
                    $("<li>").append(
                        $("<strong>").text(msg.Name + ": "),
                        $("<span>").text(msg.Message),
                        $("<small>").text(" --- " + msg.When)
                    )
                )
            }
        }
    })
</script>
</body>
</html>